// Setup
//-------------------------------------

*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

// Main Styles
//-------------------------------------

#root {
    height: 100vh;
    width: 100%;
}

.app,
.navbar,
.footer,
.cp-transition__squares-wrapper {
    background-color: #f7fafc;
    padding: 20px;
    transition: background-color 0.3s ease-in;
}

.app {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

// Dark Mode
//-------------------------------------

.dark-mode {
    .social-links {
        color: #f7fafc;
    }

    .app,
    .navbar,
    .footer,
    .cp-transition__squares-wrapper,
    .modal__info,
    .modal {
        color: #f7fafc;
        background-color: #212529;
    }
    .experience-card{
        color: #f7fafc;
        background-color: #2b2b2b;
        box-shadow: none;
    }
    .listing__content,
    .listing {
        background-color: #2b2b2b;
        box-shadow: none;
    }
    .listing__type {
        background-color: #f7fafc;
        color: #212529;
    }

    #toggle {
        background-color: #f7fafc;

        .toggle-inner {
            background-color: #212529;
        }
    }
    .scroll-down {
        border: 2px solid #f7fafc;
        &::before {
            background-color: #f7fafc;
        }
    }
}

// Wave Animation
//-------------------------------------
.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

// Projects listing
//-------------------------------------
.projects {
    width: 80%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 5px;
}

// Links and Buttons
//-------------------------------------

.social-links {
    color: #212529;
    margin-right: 20px;
    transition: 0.3s;
}

.social-links:hover {
    transform: translateY(-10px);
}

// Home
//-------------------------------------

.heading {
    margin-top: 100px;
}

.author-name {
    border: 10px solid none;
    background: linear-gradient(60deg, #f79533, #f37055, #ff2361, #a500a5, #2051b3, #55d4ff, #07b38b, #55ff99);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2;
    animation: phase 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
}
@keyframes phase {
    0% {
        background-position: 15% 0;
    }
    50% {
        background-position: 90% 100%;
    }
    100% {
        background-position: 15% 0;
    }
}

.scroll-down {
    border: 2px solid #212529;
    border-radius: 20px;
    bottom: 60px;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 30px;

    &::before {
        animation: scrollDownAnimation 2s infinite;
        background-color: #212529;
        border-radius: 100%;
        content: "";
        height: 6px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 10px;
        width: 6px;
    }
}

@keyframes scrollDownAnimation {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        transform: translate(0, 20px);
    }

    100% {
        opacity: 0;
    }
}

// About Section
//-------------------------------------

.about {
    margin-bottom: 100px;
    max-width: 1300px;
}

@media only screen and (max-width: 1299px) {
    .about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

    .about-text {
        margin-top: 70px;
        font-size: larger;
    }

    .author_pic {
        height: 400px;
        width: 400px;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1300px) {
    .about {
        width: 70%;
    }

    .about-text {
        min-width: 700px;
        margin-top: 50px;
        font-size: larger;
    }

    .author_pic {
        float: right;
        margin-left: 50px;
        margin-top: 60px;
        height: 500px;
        width: 500px;
    }
}

@media only screen and (min-width: 2000px) {
    .about {
        width: 60%;
    }

    .about-text {
        min-width: 700px;
        margin-top: 50px;
        font-size: larger;
    }

    .author_pic {
        float: right;
        margin-left: 50px;
        height: 500px;
        width: 500px;
    }
}

.author_pic {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        transform: scale(1.42);
    }
}

.spin-container {
    width: 100%;
    height: 100%;
    animation: spin 12s linear infinite;
    position: relative;
}

.shape {
    width: 100%;
    height: 100%;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 8s ease-in-out infinite both alternate;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    overflow: hidden;
    z-index: 5;
}

.bd {
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background: url("../public/images/author.jpg");
    background-size: 100%;
    background-position: center center;
    display: flex;
    color: #003;
    font-size: 5vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    animation: spin 12s linear infinite reverse;
    opacity: 1;
    z-index: 2;
}

@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
    }
    100% {
        border-radius: 40% 60%;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.send-message-btn {
    padding: 0.9em 2em;
    text-decoration: none;
    border: none;
    outline: none;
    color: #f7fafc;
    background-color: #212529;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.send-message-btn:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.send-message-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212529;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.send-message-btn:hover {
    text-decoration: underline;
    color: #f7fafc;
}

// Timeline Section
//-------------------------------------

.timeline {
    width: 60%;
    max-width: 1500px;
}

.home {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

// Experience

.experience-card{
    max-width: 1000px;
    margin-top: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    border: none;
}

.card-title, .card-subtitle, .card-text{
    margin: 10px;
}
