// Setup
//-------------------------------------

*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// Main Styles
//-------------------------------------

#root {
    height: 100vh;
    width: 100%;
}

.app,
.home,
.navbar,
.footer,
.cp-transition__squares-wrapper {
    background-color: #f7fafc;
    padding: 20px;
    transition: background-color 0.3s ease-in;
}

.icon {
    color: #212529;
    margin-right: 20px;
}

.app {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.home{
    margin-top: 50px;
    margin-bottom: 100px;
}

.dark-mode {
    .icon {
        color: #f7fafc;
    }

    .app,
    .home,
    .navbar,
    .footer,
    .cp-transition__squares-wrapper {
        color: #f7fafc;
        background-color: #212529;
    }

    #toggle {
        background-color: #f7fafc;

        .toggle-inner {
            background-color: #212529;
        }
    }
}

// Wave Animation
//-------------------------------------
.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
